@media screen and (max-width: 1100px){
    .albums{
        margin: 20px;
    }

    .card{
        padding: 4px;
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px){
    .albums{
        margin: 15px;
    }

    .card{
        padding: 3px;
        width: calc(100% / 2);
    }

    .playing__logo{
        height: 85%;
    }
}

@media screen and (max-width: 600px){

    .aside{
        width: 50px;
        padding-top: 5px;
    }
    
    .logo,
    .playlist,
    .playlist-selection,
    .aside__bottom{
        padding: 0 10px;
    }

    .logo{
        margin-bottom: 15px;
    }

    .logo__image, 
    .list-icon__label, 
    .playlist, 
    .playlist-selection,
    .app-download__label,
    .profile__name{
        display: none;
    }


    .logo__mobile{
        display: block;
        height: 28px;
    }

    .list-icon__item{
        padding: 6px 10px;
    }

    .aside__bottom{
        margin-top: auto;
        text-align: center;
    }

    .app-download{
        padding: 5px 0;
        border-bottom: 1px solid transparent;
    }

    .app-download__icon, .profile__image{
        margin: 0;
    }

    .container{
        width: calc(100% - 50px);
    }

    .upgrade{
        width: calc(100% - 50px);
    }

    .albums{
        margin: 15px;
    }

    .card{
        padding: 6px;
        width: calc(100% / 2);
    }

    .playing__logo{
        height: 75%;
    }
}