@media screen and (max-width: 1100px){
    .albums{
        margin: 20px;
    }

    .card{
        padding: 4px;
        width: calc(100% / 4);
    }
}

@media screen and (max-width: 700px){
    .albums{
        margin: 15px;
    }

    .card{
        padding: 3px;
        width: calc(100% / 2);
    }

    .playing__logo{
        height: 85%;
    }
}

@media screen and (max-width: 600px){

    .aside{
        width: 50px;
        padding-top: 5px;
    }
    
    .logo,
    .playlist,
    .playlist-selection,
    .aside__bottom{
        padding: 0 10px;
    }

    .logo{
        margin-bottom: 15px;
    }

    .logo__image, 
    .list-icon__label, 
    .playlist, 
    .playlist-selection,
    .app-download__label,
    .profile__name{
        display: none;
    }


    .logo__mobile{
        display: block;
        height: 28px;
    }

    .list-icon__item{
        padding: 6px 10px;
    }

    .aside__bottom{
        margin-top: auto;
        text-align: center;
    }

    .app-download{
        padding: 5px 0;
        border-bottom: 1px solid transparent;
    }

    .app-download__icon, .profile__image{
        margin: 0;
    }

    .container{
        width: calc(100% - 50px);
    }

    .upgrade{
        width: calc(100% - 50px);
    }

    .albums{
        margin: 15px;
    }

    .card{
        padding: 6px;
        width: calc(100% / 2);
    }

    .playing__logo{
        height: 75%;
    }
}

@media screen and (max-width: 420px){

    main{
        height: calc(100vh - 110px);
    }

    .card{
        width: 100%;
        padding: 20px;
    }

    footer{
        height: 110px;
    }

    .footer-left, .footer-right{
        padding: 10px;
        width: 200px;
    }

    

    .playing{
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .playing__logo{
        height: 40%;
        width: 100%;
        text-align: center;
        order:1;
    }
    
    .playing__text{
        width: 100%;
        margin-top: 2px;
        padding-left: 0;
        text-align: center;
        font-size: 0.625rem;
    }

    .playing__icons{
        margin-top: 3px;
        padding-right: 0;
        width: 100%;
        text-align: center;
    }

    .player__control{
        margin: 15px 0;
    }

    .time{
        margin: 0 5px;
    }

    .footer-right{
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-content: space-evenly;
    }

    .command, .volume{
        margin-left: 10px;
        width: 100%;
    }

    
}