/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.75rem;
    font-weight: 600;
    color: #a3a3a3;
}

a{
    text-decoration: none;
    color: #a3a3a3;
}

ul{
    list-style: none;
}

button{
    text-decoration: none;
    border: none;
    background: none;
    font-family: inherit;
}

/*  typo */

h2{
    color: #ffffff;
    font-size: 1.75rem;
    font-weight: 800;
}

h4{
    color: #ffffff;
    font-size: 1rem;
    font-weight: 800;
}


/* Main */

main{
    height:calc(100vh - 90px);
    display: flex;
}

/* Aside */
.aside{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 230px;
    padding-top: 20px;
}

.logo,
.aside__nav,
.playlist,
.aside__bottom{
    flex-shrink: 0;
}

.logo,
.playlist,
.playlist-selection,
.aside__bottom{
    padding: 0 20px;
}

.logo{
    margin-bottom: 20px;
}

.logo_image{
    height: 45px;
}

.logo__mobile{
    display: none;
}

.list-icon__item{
    padding: 6px 20px;
    border-left: 2px solid #000000;
}

.list-icon__image{
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.list-icon__label{
    vertical-align: middle;
}

.list-icon__item--active{
    color: #fff;
    border-left: 2px solid #adff2f;
}

.playlist{
    margin: 25px 0 20px 0;
}

.playlist__title{
    margin-bottom: 18px;
    font-weight: 800;
    color: #fff;
}

.playlist__icon{
    display: inline-block;
    position: relative;
    background-color: #a3a3a3;
    height: 36px;
    width: 36px;
    margin-right: 8px;
    vertical-align: middle;
}

.playlist__symbol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 1.75rem;
}

.playlist-selection{
    overflow-y: auto;
    flex-grow: 1;
}

.playlist-selection__item{
    padding: 10px 0;
}

.app-download{
    padding: 12px 0;
    border-bottom: 1px solid #a3a3a3;
}

.app-download__icon{
    height: 12px;
    vertical-align: middle;
    margin-right: 10px;
}

.app-download__label{
    vertical-align: middle;
}

.profile{
    margin: 15px 0 8px 0;
}

.profile__image{
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #a3a3a3;
    border-radius: 50%;
}

.profile__name{
    display: inline-block;
    color: #ffffff;
}

/* Music Section */

.container{
    position: relative;
    height: 100%;
    background-color: #141922;
    width: calc(100% - 230px);
    overflow-y: auto;
}

.upgrade{
    position: fixed;
    top:0;
    right: 0;
    z-index: 2;
    padding: 20px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
    height: 90px;
    line-height: 50px;
    color: rgb(255, 255, 255);
}

.upgrade__link{
    padding: 10px 45px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 2rem;
}

.horizontal-nav{
    margin-top: 90px;
    padding: 18px;
}

.horizontal-nav__list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-nav__item{
    display: inline-block;
    margin-bottom: 15px;
}

.horizontal-nav__link{
    position: relative;
    text-transform: uppercase;
    padding: 10px;
}

.horizontal-nav__link--active::after{
    position: absolute;
    content: '';
    display: block;
    bottom:5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #adff2f;
    height: 2px;
    width: 30px;
}

/* Album */

.albums{
    margin: 30px;
}

.albums__title{
    margin-bottom: 15px;
}

.albums__subtitle{
    font-size: 0.875rem;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.card{
    margin-top: 25px;
    padding: 6px;
    width: calc(100% / 6);
    text-align: center;
}

.card__top{
    position: relative;
}

.card__top--circle{
    border-radius: 50%;
    overflow: hidden;
}

.card__image{
    width: 100%;
    display: block;
}

.card__title{
    margin-top: 20px;
}

.card__subtitle{
    margin-top: 15px;
}



/* Footer */

footer{
    position: fixed;
    display: flex;
    justify-content: space-between;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 90px;
    background-color: #282828;
}

.footer-left, .footer-right{
    width: 230px;
    padding : 25px 10px 25px 10px;
}

.player{
    width:45%;
}

.playing{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.playing__logo{
    width: 20%;
}

.playing__text{
    width: 50%;
    padding-left: 6px;
}

.playing__artist{
    color: #ffffff;
}

.playing__icons{
    width:30%;
    font-size: 1rem;
}

.fa-heart{
    margin-right: 5px;
}

.playing__icons{
    padding-right: 10px;
}

.playing, .playing__logo, .playing__image{
    height: 100%;
}

.playing__logo, .playing__text, .playing__icons{
    display: inline-block;
}

.player{
    width: 45%;
    color: #ffffff;
}

.player__control{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.125rem;
    margin-top: 10px;
}

.player__control i {
    margin: 0 10px;
}

.fa-play-circle{
    font-size: 2rem;
}

.player__time{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
}

.slider{
    position: relative;
    content: '';
    background-color: #5a5a5a;
    width: 60%;
    height: 4px;
    border-radius: 4px;
}

.slider__progress{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 25%;
    height: 100%;
    background-color: #ffffff;
    border-radius: 4px;
}

.time{
    margin: 0 15px;
}

.footer-right{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.875rem;
    color: #ffffff;
}

.command{
    width: 40%;
    display: flex;
    justify-content: space-around;
    margin-left: 20px;
}

.volume{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.list-icon__item,
.playlist__create,
.playlist-selection__item,
.card__top,
.card__title,
.card__subtitle,
footer i,
.slider,
.playing__artist,
.playing__song {
    cursor: pointer;
}

/* hover effects*/


/* Aside hover */ 

.list-icon__item:hover .list-icon__label{
    color: #ffffff;
}

.playlist__create:hover{
    color: #ffffff;
}

.playlist__create:hover .playlist__icon{
    background-color: #ffffff;
}


.playlist-selection__item:hover{
    color: #ffffff;
}

.app-download:hover .app-download__label{
    color: #ffffff;
}


/* container hover */

.upgrade__button:hover { 
    transform: scale(1.1);
}

.horizontal-nav__item:hover .horizontal-nav__link{
    color: #ffffff;
}

.card:hover .card__top::after{
    content:"\f144";
    font-family: "Font Awesome 5 Free";
    font-weight: 400;
    font-size: 3.125rem;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}



/* footer hover */

.playing__song:hover{
    text-decoration: underline;
}

footer .fa-heart:hover, footer .fa-folder:hover{
    color: #ffffff;
}

.player__control .fa-play-circle:hover{
    transform: scale(1.1);
}


.slider:hover .slider__progress{
    background-color: #adff2f;
}

.slider:hover.slider::after{
    content: '';
    display: block;
    position: absolute;
    height: 14px;
    width: 14px;
    top: calc(50% - 7px);
    left: calc(25% - 7px);
    background-color: #ffffff;
    border-radius: 50%;
}