/* Reset */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

body{
    font-family: 'Montserrat', sans-serif;
}

a{
    text-decoration: none;
    color: #a3a3a3;
}

ul{
    list-style: none;
}


/* Main */

main{
    height:calc(100vh - 90px);
    display: flex;
}

/* Aside */
.aside{
    display: flex;
    flex-direction: column;
    background-color: #000000;
    width: 230px;
    padding-top: 20px;
    font-size: 12px;
    color: #a3a3a3;
    font-weight: 600;
}

.logo,
.aside__nav,
.playlist,
.aside__bottom{
    flex-shrink: 0;
}

.logo,
.playlist,
.playlist-selection,
.aside__bottom{
    padding: 0 20px;
}

.logo{
    margin-bottom: 20px;
}

.logo_image{
    height: 45px;
}

.list-icon__item{
    padding: 6px 20px;
    border-left: 2px solid #000000;
}

.list-icon__image{
    height: 22px;
    vertical-align: middle;
    margin-right: 5px;
}

.list-icon__label{
    vertical-align: middle;
}

.list-icon__item--active{
    color: #fff;
    border-left: 2px solid #adff2f;
}

.playlist{
    margin: 25px 0 20px 0;
}

.playlist__title{
    margin-bottom: 18px;
    color: #fff;
}

.playlist__icon{
    display: inline-block;
    position: relative;
    background-color: #a3a3a3;
    height: 36px;
    width: 36px;
    margin-right: 8px;
    vertical-align: middle;
}

.playlist__symbol{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #000000;
    font-size: 28px;
}

.playlist-selection{
    overflow-y: auto;
    flex-grow: 1;
}

.playlist-selection__item{
    padding: 10px 0;
}

.app-download{
    padding: 12px 0;
    border-bottom: 1px solid #a3a3a3;
}

.app-download__icon{
    margin-right: 10px;
}

.profile{
    margin: 15px 0 8px 0;
}

.profile__image{
    height: 25px;
    vertical-align: middle;
    margin-right: 10px;
    background-color: #a3a3a3;
    border-radius: 50%;
}

.profile__name{
    display: inline-block;
}

/* Music Section */

.container{
    position: relative;
    height: 100%;
    background-color: #141922;
    width: calc(100% - 230px);
    overflow-y: auto;
}

.upgrade{
    position: fixed;
    top:0;
    right: 0;
    z-index: 2;
    padding: 20px;
    width: calc(100% - 230px);
    background-color: rgba(0, 0, 0, 0.6);
    text-align: right;
    height: 90px;
    line-height: 50px;
    color: rgb(255, 255, 255);
}

.upgrade__link{
    padding: 10px 45px;
    font-size: 12px;
    font-weight: 800;
    color: #ffffff;
    text-transform: uppercase;
    border: 1px solid #ffffff;
    border-radius: 2rem;
}

.horizontal-nav{
    margin-top: 90px;
    padding: 18px;
}

.horizontal-nav__list{
    display: flex;
    width: 100%;
    font-size: 12px;
    font-weight: 600;
    flex-wrap: wrap;
    justify-content: center;
}

.horizontal-nav__item{
    display: inline-block;
    margin-bottom: 15px;
}

.horizontal-nav__link{
    position: relative;
    text-transform: uppercase;
    color: #a3a3a3;
    padding: 10px;
}

.horizontal-nav__link--active::after{
    position: absolute;
    content: '';
    display: block;
    bottom:5px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #adff2f;
    height: 2px;
    width: 30px;
}

/* Album */

.albums{
    margin: 30px;
}

.albums__title{
    color: #ffffff;
    margin-bottom: 15px;
}

.albums__subtitle{
    font-size: 14px;
    font-weight: 600;
    color: #a3a3a3;
}

.row{
    display: flex;
}

.card{
    margin-top: 25px;
    padding: 6px;
    width: calc(100% / 6);
    text-align: center;
}

.card__image{
    width: 100%;
}

.card__title{
    margin-top: 20px;
    color: #ffffff;
}

.card__subtitle{
    margin-top: 15px;
    color:#a3a3a3
}



/* Footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
    height: 90px;
    background-color: darkgoldenrod;
}